<div class="col-md-6">
<%= form_for [ @post, @comment ] do |form| %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, class: "form-control", rows: 3, placeholder: "What's on your mind?"%>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, class: "form-control" %>
  </div>

  <div class="actions" style="margin-top: 30px;">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
</div>