<p id="notice"><%= notice %></p>

<div class="container bg-light" style="padding: 20px; border-radius: 5px;">
  <% if @post.image.attached? %>
    <% if @post.image.previewable? %>
      <video preload controls>
        <source src=<%="#{rails_blob_path(@post.image)}"%> >
        <source src=<%="#{rails_blob_path(@post.image)}"%> >
      </video>
    <% else %>
      <%= image_tag @post.image, class: "card-img-top" %>
    <% end %>
  <% end %>
  
  <p style="margin-top: 10px;">
    <%= @post.content %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= @post.author %>
  </p>

  <%= link_to 'Edit', edit_post_path, class: "btn btn-warning" %>
  <%= link_to 'Delete', post_path, method: :delete, class: "btn btn-danger" %>
</div>

<hr>
<% if @post.enable? %>
  <div class="bg-light" style="padding: 10px; border-radius: 5px; margin-top: 20px;">
    <%= render '/comments/form' %>
  </div>
<% else %>
  <%= link_to 'Enable comments', enable_comments_path, class: "btn btn-warning" %>
<% end %>

<% if @comments.size > 0 %>
  <h4 style="margin-top: 30px;"> Comments </h4>
<% end %>
  <div class="row">
    <% @comments.reverse.each do |comment| %>
      <div class="card col-md-4" style="margin-bottom: 5px;" id="no-border">
        <div class="card-body">
          <b><%= comment.author %>:</b>
          <%= comment.content %>
          <%= link_to 'Delete', post_comment_path(post_id: @post.id, id: comment.id), method: :delete, id: "delete" %>
        </div>
      </div>
    <% end %>
  </div>
